.card {
    background: rgb(22, 27, 38);
    padding: 50px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    border-radius: 24px;
    margin-top: 16px;
}
.temp {
    font-size: 24px;
    margin-bottom: 24px;
}
.temp-feels-like {
    font-size: 42px;
}
.temp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 24px;
}   
.weather-emoji {
    font-size: 40px;
}
.humidity {
    font-size: 24px;
    margin-bottom: 24px;
}
.wind-speed {
    font-size: 24px;
}
.city-display {
    font-size: 42px;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1px;
}

.temp, .humidity,  .city-display,  .temp-container {
    width: 100%;
    text-align: center;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 550px) {
    .card {
        width: 70%;
        padding: 30px 20px;
        min-width: 280px;
    }
    .city-display, .temp-feels-like, .weather-emoji {
        font-size: 18px;
    }
    button[type="submit"]{
        font-size: 12px;
        padding: 8px 14px;
    }
    .wind-speed, .humidity, .temp {
        font-size: 14px;
    }
    .city-input{
        font-size: 16px;
        padding: 6px 12px;
    }
    .weather-form{
        gap: 8px;
    }
}